#root {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center; 
  min-height: 100vh;  
  box-sizing: border-box;
}

.heading{
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
}
.heading img{
  width: 80px;
  height: 80px;
}